* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #eee;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
}

header {
  background-color: #333333;
  margin: 0;
  padding: 0;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #888888;
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
}

.main-area {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.card {
  border-radius: 10px;
  /* 5px rounded corners */
  padding: 20px 20px;
  margin: 20px;
  width: auto;

  /* Visible border: include style, width and color */
  border: 1px solid #878787;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}