html {
    background-color: grey;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    color: #eee;
    background: #121212;
}

nav {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #333333;
}   

/* Style links in topnav */
nav li a {
  display: block;
  color: #f1f1f1;
  padding: 14px 16px;
  text-decoration: none;
}
