---
import MySiteLayout from "../../layouts/SiteLayout.astro";
import "../../styles/recipe.scss";
import bratwurstImage from "../../assets/bratwurstzwiebelsauce.jpg";
---

<MySiteLayout title="Rezept - Bratwurst mit Zwiebelsauce">
  <main class="main-area">
    <div class="content">
      <section class="recipe-main-image">
        <img src={bratwurstImage.src} />
      </section>
      <section class="ingredient">
        <div>
          <span class="ingredient-quantity">300 g</span>
          <span class="ingredient-name">Zwiebeln</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 EL</span>
          <span class="ingredient-name">Bratbutter</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 EL</span>
          <span class="ingredient-name">Mehl</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 dl</span>
          <span class="ingredient-name">Weissweinn</span>
        </div>
        <div>
          <span class="ingredient-quantity">4 dl</span>
          <span class="ingredient-name">Bouillon</span>
        </div>
        <div>
          <span class="ingredient-quantity"></span>
          <span class="ingredient-name">Pfeffer</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 Zweige</span>
          <span class="ingredient-name">Thymian</span>
        </div>
        <div>
          <span class="ingredient-quantity">4</span>
          <span class="ingredient-name">Kalbsbratwürste</span>
        </div>
      </section>
      <section class="preperation">
        <h1>Zubereitung</h1>
        <p>
          Zwiebeln in Ringe schneiden in etwas heisser Bratbutter andünsten, Mehl beigeben,
          unter ständigem Rühren dünsten. Weisswein dazugiessen und unter Rühren einkochen.
          Bouillon beigeben, ca. 10 Min. einkochen, würzen. Thymian darüberstreuen.
          Bratwürste beidseitig leicht einschneiden und in heisser Bratbutter rundum goldbraun braten, 
          mit der Zwiebelsauce anrichten. Dazu passt Rösti.
        </p>
      </section>
    </div>
  </main>
</MySiteLayout>