---
import MySiteLayout from "../../layouts/SiteLayout.astro";
import "../../styles/recipe.scss";
import buendnerGerstensuppeImage from "../../assets/buendner-gerstensuppe.png";
---

<MySiteLayout title="Rezept - Bündner Gerstensuppe">
  <main class="main-area">
    <div class="content">
      <section class="recipe-main-image">
        <img src={buendnerGerstensuppeImage.src} />
      </section>
      <section class="ingredient">
        <h1>Zutaten</h1>
        <div>
          <span class="ingredient-quantity">1</span>
          <span class="ingredient-name">Zwiebel, fein gehackt</span>
        </div>
        <div>
          <span class="ingredient-quantity">1</span>
          <span class="ingredient-name">Knoblauchzehe, gepresst</span>
        </div>
        <div>
          <span class="ingredient-quantity"></span>
          <span class="ingredient-name">Butter zum Dünsten</span>
        </div>
        <div>
          <span class="ingredient-quantity">1</span>
          <span class="ingredient-name">Zwiebel, fein gehackt</span>
        </div>
        <div>
          <span class="ingredient-quantity">300g</span>
          <span class="ingredient-name">Bündnerfleisch klein gewürfelt</span>
        </div>
        <div>
          <span class="ingredient-quantity">1/2</span>
          <span class="ingredient-name">Lauch, klein geschnitten</span>
        </div>
        <div>
          <span class="ingredient-quantity">2</span>
          <span class="ingredient-name">Karotten, klein gewürfelt</span>
        </div>
        <div>
          <span class="ingredient-quantity">150g</span>
          <span class="ingredient-name">Gerste</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 EL</span>
          <span class="ingredient-name">Mehl</span>
        </div>
        <div>
          <span class="ingredient-quantity">1,5 l</span>
          <span class="ingredient-name">Gemüsebouillon</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 dl</span>
          <span class="ingredient-name">Rahm</span>
        </div>
        <div>
          <span class="ingredient-quantity"></span>
          <span class="ingredient-name">Salz, Pfeffer</span>
        </div>
      </section>
      <section class="preperation">
        <h1>Zubereitung</h1>
        <p>
          Zwiebel und Knoblauch in der Butter andünsten.
          Fleisch kurz mitbraten. Gemüse mitdünsten.
          Gerste und Mehl beifügen, kurz mitdünsten.
          Mit der Bouillon ablöschen, unter Rühren aufkochen.
          Suppe bei kleiner Hitze ca. 1 Stunde unter häufigem Rühren köcheln lassen.
          Rahm beifügen, sämig einkochen, würzen.
        </p>
      </section>
    </div>
  </main>
</MySiteLayout>