---
import MySiteLayout from "../../layouts/SiteLayout.astro";
import "../../styles/recipe.scss";
import buendnerGerstensuppeImage from "../../assets/buendner-gerstensuppe.png";
---

<MySiteLayout title="Rezept - Bündner Gerstensuppe">
  <main class="section">
    <div class="container">
      <div class="columns is-multiline is-centered is-mobile">
        <div class="column is-10-desktop is-12-tablet is-12-mobile">
          <div class="columns is-multiline">
            <!-- Recipe Image -->
            <div class="column is-6-desktop is-6-tablet is-12-mobile">
              <section class="recipe-main-image">
                <img src={buendnerGerstensuppeImage.src} alt="Bündner Gerstensuppe" />
              </section>
            </div>
            
            <!-- Ingredients -->
            <div class="column is-6-desktop is-6-tablet is-12-mobile">
              <section class="ingredient">
                <h1 class="title is-4 mb-4">Zutaten</h1>
                
                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">1</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Zwiebel, fein gehackt</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">1</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Knoblauchzehe, gepresst</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity"></span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Butter zum Dünsten</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">300 g</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Bündnerfleisch klein gewürfelt</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">100 g</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Schinkenwürfeli</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">½</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Lauch, klein geschnitten</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">1 Stück</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Sellerie, klein gewürfelt</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">1 - 2</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Rüebli, klein gewürfelt</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">2</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Kartoffeln, klein gewürfelt</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">50 - 80 g</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Wirz, klein geschnitten</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">2</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Lorbeerblätter</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">150 g</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Gerste</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">2 EL</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Mehl</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">1,5 l</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Gemüsebouillon</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">2 dl</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Rahm</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity"></span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">Salz, Pfeffer</span>
                  </div>
                </div>

                <div class="columns is-mobile is-gapless mb-1">
                  <div class="column is-narrow">
                    <span class="ingredient-quantity">2 EL</span>
                  </div>
                  <div class="column">
                    <span class="ingredient-name">glattblättriger Peterli, fein gehackt</span>
                  </div>
                </div>

              </section>
            </div>
            
            <!-- Preparation -->
            <div class="column is-12">
              <section class="preperation">
                <h1 class="title is-3 mb-5">Zubereitung</h1>
                <p class="mb-4">
                  Zwiebel und Knoblauch in der Butter andünsten.
                  Fleisch kurz mitbraten. Gemüse und Lorbeer mitdünsten.
                  Gerste und Mehl beifügen, kurz mitdünsten.
                  Mit der Bouillon ablöschen, unter Rühren aufkochen.
                  Suppe bei kleiner Hitze ca. 1 Stunde unter häufigem Rühren köcheln lassen.
                  <br>
                  <br>
                  Rahm beifügen, sämig einkochen, würzen.
                  Peterli beifügen, in Suppenschalen geben, heiss servieren.
                </p>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</MySiteLayout>
