---
import MySiteLayout from "../../layouts/SiteLayout.astro";
import "../../styles/recipe.scss";
import ratatouilleImage from "../../assets/ratatouille.png";
---

<MySiteLayout title="Rezept - Ratatouille">
  <main class="main-area">
    <div class="content">
      <section class="recipe-main-image">
        <img src={ratatouilleImage.src} />
      </section>
      <section class="ingredient">
        <h1>Piperade</h1>
        <div>
          <span class="ingredient-quantity">1,5</span>
          <span class="ingredient-name">Paprikaschoten, rote, gelbe und orange</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 EL</span>
          <span class="ingredient-name">Olivenöl</span>
        </div>
        <div>
          <span class="ingredient-quantity">1 TL</span>
          <span class="ingredient-name">Knoblauch</span>
        </div>
        <div>
          <span class="ingredient-quantity">0.5 Tasse</span>
          <span class="ingredient-name">Zwiebeln</span>
        </div>
        <div>
          <span class="ingredient-quantity">3</span>
          <span class="ingredient-name">Tomaten</span>
        </div>
        <div>
          <span class="ingredient-quantity">1</span>
          <span class="ingredient-name">Thymianzweig</span>
        </div>
        <div>
          <span class="ingredient-quantity">1 Stängel</span>
          <span class="ingredient-name">glatte Petersilie</span>
        </div>
        <div>
          <span class="ingredient-quantity">0.5</span>
          <span class="ingredient-name">Lorbeerblatt</span>
        </div>
        <div>
          <span class="ingredient-quantity"></span>
          <span class="ingredient-name">Salz</span>
        </div>
        <div class="spacer"></div>
        <h1>Gemüse</h1>
        <div>
          <span class="ingredient-quantity">1</span>
          <span class="ingredient-name">Zucchini</span>
        </div>
        <div>
          <span class="ingredient-quantity">1</span>
          <span class="ingredient-name">Aubergine</span>
        </div>
        <div>
          <span class="ingredient-quantity">1 kleiner</span>
          <span class="ingredient-name">Kürbis</span>
        </div>
        <div>
          <span class="ingredient-quantity">4</span>
          <span class="ingredient-name">Romatomaten</span>
        </div>
        <div>
          <span class="ingredient-quantity">0.5 TL</span>
          <span class="ingredient-name">Knoblauch</span>
        </div>
        <div>
          <span class="ingredient-quantity">2 TL</span>
          <span class="ingredient-name">Olivenöl</span>
        </div>
        <div>
          <span class="ingredient-quantity">etwas</span>
          <span class="ingredient-name">Thymian</span>
        </div>
        <div>
          <span class="ingredient-quantity"></span>
          <span class="ingredient-name">Salz und Pfeffer</span>
        </div>
        <h1>Vinaigrette</h1>
        <div>
          <span class="ingredient-quantity">1 EL</span>
          <span class="ingredient-name">Paprikasauce</span>
        </div>
        <div>
          <span class="ingredient-quantity">1 EL</span>
          <span class="ingredient-name">Olivenöl</span>
        </div>
        <div>
          <span class="ingredient-quantity">1 TL</span>
          <span class="ingredient-name">Balsamico</span>
        </div>
        <div>
          <span class="ingredient-quantity"></span>
          <span class="ingredient-name">Kräuter</span>
        </div>
        <div>
          <span class="ingredient-quantity">0.5 TL</span>
          <span class="ingredient-name">Knoblauch</span>
        </div>
        <div>
          <span class="ingredient-quantity"></span>
          <span class="ingredient-name">Salz und Pfeffer</span>
        </div>
      </section>
      <section class="preperation">
        <h1>Zubereitung</h1>
        <h2>Piperade </h2>
        <p>
          Für die Piperade (eine dickflüssige Soße) die Paprika 
          im heißen Backofen so lange backen, bis sie Blasen werfen.
          Dann abkühlen lassen und enthäuten.
        </p>
        <h2>Gemüse</h2>
        <p>
          Öl, Knoblauch und Zwiebeln in einem Topf 5 Minuten sanft erhitzen,
          nicht braun werden lassen. Tomaten, Thymian, Petersilie und Lorbeerblatt hinzufügen.
          8 - 10 Minuten köcheln und dabei einkochen lassen.
          Paprika hinzufügen und weiter köcheln lassen, bis sie weich sind.
          Mit Salz und den Kräutern würzen.
          Alles bis auf einen Esslöffel in eine feuerfeste Auflaufform geben.
          Den Backofen auf 180 °C vorheizen.
          Zucchini, Aubergine, Kürbis und Tomaten in 0,5 cm dicke Scheiben schneiden.
          Die Gemüsescheiben abwechselnd fächerförmig auf der Piperade anordnen.
          Knoblauch, Olivenöl, Salz und Pfeffer mischen und darüber geben.
          Die Form mit Alufolie abdecken und 2 Stunden backen,
          die Folie entfernen und 30 Minuten weiter backen (wenn es braun wird, die Folie leicht darüber legen).
        </p>
        <h2>Vinaigrette</h2>
        <p>
          Für die Vinaigrette den Esslöffel Piperade mit Öl, Essig, Gewürzen und Kräutern mischen. Abschmecken.
          Zum Servieren das Gemüse vierteln, mit dem Bratenheber auf die Teller schichten.
          Das Gemüse fächerartig in Form bringen. Den Tellerrand mit der Vinaigrette besprenkeln. Heiß servieren.
        </p>
      </section>
    </div>
  </main>
</MySiteLayout>