---
import "../../assets/style.css";
import MySiteLayout from "../../layouts/SiteLayout.astro";
---

<MySiteLayout title="Rezeptvorlage">
  <main class="main-area">
    <div>
      <p>Hier wollen wir ein Rezept darstellen.</p>
    </div>
  </main>
</MySiteLayout>
