#LearningsListTitel {
  margin-top: 20px;
  margin-bottom: 10px;
}

#LearningsList {
  margin-bottom: 20px;
  padding-left: 20px;
}

/* Bilder links und rechts floaten */
.about-figure-left {
  float: left;
  width: 40%;
  max-width: 220px;
  margin: 0 20px 10px 0;
}

.about-figure-right {
  float: right;
  width: 40%;
  max-width: 220px;
  margin: 0 0 10px 20px;
}

.about-figure-left img,
.about-figure-right img {
  width: 100%;
  height: auto;
  border-radius: 6px;
  border: 1px solid #555;
}

.about-figure-left figcaption,
.about-figure-right figcaption {
  font-size: 0.85rem;
  margin-top: 4px;
}

/* Clearing, damit der DefinitoinList "Begriffe" nicht „mitfloatet“ */
#WhatWePractice::after {
  content: "";
  display: block;
  clear: both;
}

.about-definition-list dt {
  font-weight: bold;
  margin-top: 10px;
}

.about-definition-list dd {
  margin-left: 0;
  margin-bottom: 5px;
}

h1 {
  margin-bottom: 1em;
}

/* Tables */
table {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
}

tr:nth-child(even) {
  background-color: #464646;
}

tr:hover {
  background-color: #ddd;
}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
