.indicator-cell {
    min-height: 80px; 
    
    padding: 8px 15px; 
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: #1a1a1a;
    border: 1px solid #333;
    border-radius: 8px;
    transition: all 0.5s ease;
}

.indicator-cell p {
    margin: 0 !important; 
    padding: 0 !important;
    line-height: 1.2;
}

.indicator-cell:hover {
    background-color: var(--bulma-primary);
    color: #ffffff; 
    cursor: pointer;
    transform: translateY(-3px);
    box-shadow: 0 10px 16px rgba(0, 0, 0, 0.5); 
}

.indicator-cell:hover .has-text-primary,
.indicator-cell:hover .has-text-grey {
    color: #ffffff !important; 
}