/* Definiere eine eigene Klasse für die Zellen */
.grid .cell {
    background-color: var(--bulma-dark);
    transition: background-color 0.5s ease; /* Animation */
    border-radius: 8px; 
}

/* Definiere den Hover-Zustand */
.grid .cell:hover {
    background-color: var(--bulma-primary); /* Beispiel: Primärfarbe */
    color: rgb(255, 255, 255); /* Textfarbe anpassen, falls nötig */
    cursor: pointer; /* Mauszeiger ändern */
}
