---
import '../assets/style.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über uns</title>
    
</head>
<body>
    <header class="header-with-image">
        <h1>Kochrezepte für Web Developer</h1>
        
        <img src="/images/developer-kochrezepte.jpg"
             alt="Kochrezepte für Entwickler"
             class="header-image">
    </header>

    <!-- Naviagation Bar -->
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Über uns</a></li>
        </ul>
    </nav>

<section class="intro-section">
  <p>
    Das Webseitenprojekt ist ein Übungsprojekt im Rahmen eines Studienfaches "HTML/CSS".<br>
    Ziel ist es, eine einfache Website mit mehreren Seiten, Bildern und CSS-Styling aufzubauen.
  </p>
</section>

</body>
</html>