---
import '../assets/style.css';
---
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Über uns</title>
    
</head>
<body>
    <header class="header-with-image">
        <h1>Kochrezepte für Web Developer</h1>
        
        <img src="/images/developer-kochrezepte.jpg"
             alt="Kochrezepte für Entwickler"
             class="header-image">
    </header>

    <!-- Naviagation Bar -->
    <nav>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="about.html">Über uns</a></li>
        </ul>
    </nav>

    <main>
      <article class=""about-articel>
                
        <section class="background-section">
          <p>
            Das Webseitenprojekt ist ein Übungsprojekt im Rahmen eines Studienfaches "HTML/CSS".<br>
            Ziel ist es, eine einfache Website mit mehreren Seiten, Bildern und CSS-Styling aufzubauen.
          </p>
          <h3>Was wir mit der Seite üben</h3>
                <ul>
                    <li>Strukturierte HTML-Seiten mit Header, Nav, Main, Footer</li>
                    <li>Sinngerichteten Einsatz von semantischen Elementen</li>
                    <li>Gestaltung mit CSS für Layout, Farben und Typografie</li>
                    <li>Einbindung von Bildern und Bildunterschriften</li>
                    <li>Zusammenarbeit im Team mittels GitHub Repository</li>
                </ul>
                <p>
                    Die Rezepte sind so aufgebaut, dass sie möglichst klar und einach
                    beschrieben sind. Strukturierte Schritte, klare Mengenangaben und
                    einfache Zubereitung passen gut in den Alltag von Softwareentwicklern.
                </p>

                <p>
                    Auf der Startseite werden die Rezepte als Karten dargestellt.
                    Jede Karte zeigt jweils auf ein Rezept. Wird eine Karte angeklickt, gelangt
                    man zur Detailansicht des Rezepts. Darin ist eine kruze Beschreibung, ein Bild, 
                    die Zutantenliste und Zubereitungsschritte enthalten.
                </p>
        </section>

      </article>
    </main>
    <footer>
        <ul>
            <li><a href="index.html">Impressum</a></li>
            <li><a href="index.html">Datenschutz</a></li>
        </ul>
    </footer>

</body>
</html>