---
import "../styles/about.css";
import MySiteLayout from "../layouts/SiteLayout.astro";
---

<MySiteLayout title="About">
  <main>
    <div class="container">
      <div class="main-area">
        <article class="default-article">
          <p>
            Das Webseitenprojekt ist ein Übungsprojekt im Rahmen eines
            Studienfaches "HTML/CSS". Ziel ist es, eine einfache Website mit
            mehreren Seiten, Bildern und CSS-Styling aufzubauen.
          </p>
          <section id="WhatWePractice" class="default-section">
            <h3 id="LearningsListTitel">Was wir mit der Seite üben</h3>
            <ul id="LearningsList">
              <li>Strukturierte HTML-Seiten mit Header, Nav, Main, Footer</li>
              <li>Sinngerichteten Einsatz von semantischen Elementen</li>
              <li>Gestaltung mit CSS für Layout, Farben und Typografie</li>
              <li>Einbindung von Bildern und Bildunterschriften</li>
              <li>Zusammenarbeit im Team mittels GitHub Repository</li>
            </ul>

            <figure class="about-figure-left">
              <img src="/images/KochBuch.png" alt="Kochbuch im Einsatz" />
              <figcaption>
                Altagstaugliche Kochrezepte mit klaren Anleitungen.
              </figcaption>
            </figure>

            <p>
              Die Rezepte sind so aufgebaut, dass sie möglichst klar und einach
              beschrieben sind. Strukturierte Schritte, klare Mengenangaben und
              einfache Zubereitung passen gut in den Alltag von
              Softwareentwicklern.
            </p>

            <figure class="about-figure-right">
              <img
                src="/images/KarteiKarten.jpg"
                alt="Karteikarten mit Rezepten"
              />
              <figcaption>Zur Auswahl über Karten bereitgestellt.</figcaption>
            </figure>

            <p>
              Auf der Startseite werden die Rezepte als Karten dargestellt. Jede
              Karte zeigt jweils auf ein Rezept. Wird eine Karte angeklickt,
              gelangt man zur Detailansicht des Rezepts. Darin ist eine kruze
              Beschreibung, ein Bild, die Zutantenliste und Zubereitungsschritte
              enthalten.
            </p>
          </section>

          <section id="TermsInProject" class="default-section">
            <h3>Begriffe in unserem Kochprojekt</h3>
            <dl class="about-definition-list">
              <dt>Rezeptkarte</dt>
              <dd>
                Eine einzelne Rezeptdarstellung mit Titel, Bild und kurzer
                Beschreibung.
              </dd>

              <dt>Zutatenliste</dt>
              <dd>
                Liste aller Zutaten mit Mengenangaben, meist als <code
                  >&lt;ul&gt;</code
                > umgesetzt.
              </dd>

              <dt>Zubereitungsschritte</dt>
              <dd>
                Geordnete Liste der Kochschritte, typischerweise als <code
                  >&lt;ol&gt;</code
                >.
              </dd>

              <dt>Portionen</dt>
              <dd>
                Angabe, wie viele Personen mit einem Rezept versorgt werden.
              </dd>
            </dl>
          </section>
          <section>
            <div class="default-section">
              <h1>Autoren</h1>
              <table>
                <th>Name</th>
                <th>E-Mail</th>
                <tr>
                  <td>Patric Jenni</td>
                  <td>patric@jenni-mail.ch</td>
                </tr>
                <tr>
                  <td>Pascal Schmidiger</td>
                  <td>pascal@schmidiger.ch</td>
                </tr>
                <tr>
                  <td colspan="2">Anzahl Autoren: 2</td>
                </tr>
              </table>
            </div>
          </section>
        </article>
      </div>
    </div>
  </main>
</MySiteLayout>
