---
import MySiteLayout from "../layouts/SiteLayout.astro";
import "../assets/style.css";
---

<MySiteLayout title="Home Page">
  <!-- Intro-Bereich -->
  <div class="intro-section">
    <p>
      Diese Kochrezepte sind speziell für Entwickler gedacht: klar strukturiert,
      logisch aufgebaut und ohne unnötiges Blabla. Jedes Rezept folgt derselben
      Systematik – schnell erfassbar, effizient umsetzbar und genau das
      Richtige, wenn man nach einem Tag Debugging etwas braucht, das einfach
      funktioniert.
    </p>
  </div>

  <!-- Content Container -->
  <main>
    <div class="container">
      <div class="main-area">
        <div class="card">
          <a href="rezepte/rezept-vorlage/">
            <div class="content">
              <h2>Zürigeschnetzeltes mit Röst</h2>
              <p>Das Rezept der Rezepte.</p>
            </div>
          </a>
        </div>
        <div class="card">
          <div class="content">
            <h2>Kartoffelsalat</h2>
            <p>Grossmutters Hit.</p>
          </div>
        </div>
      </div>
    </div>
  </main>
</MySiteLayout>
