---
import MySiteLayout from "../layouts/SiteLayout.astro";
---

<MySiteLayout title="Home Page">
  <!-- Content Container -->
  <main>
    <section class="section">
      <div class="container">
        <h1 class="title">Hello World</h1>
        <p class="subtitle">
          My first website with <strong>Bulma</strong>!
        </p>
      </div>
      <div class="grid">
        <div class="container">
          <div class="card">
            <div class="card-image">
              <figure class="image is-4by3">
                <img
                  src="/src/assets/zürigeschnetzeltes_200.jpg"
                  alt="Placeholder image"
                />
              </figure>
            </div>
            <header class="card-header">
              <p class="card-header-title">Zürigeschnetzeltes mit Rösti</p>
              <button class="card-header-icon" aria-label="more options">
                <span class="icon">
                  <i class="fas fa-angle-down" aria-hidden="true"></i>
                </span>
              </button>
            </header>
            <div class="card-content">
              <div class="content">
                Das Rezept der Rezepte.
                <br />
                <time datetime="2025-12-110">11:09 PM - 10 Dec 2025</time>
              </div>
            </div>
            <footer class="card-footer">
              <a href="rezepte/zuerigeschnetzeltes/" class="card-footer-item"
                >Zum Rezept...</a
              >
            </footer>
          </div>
        </div>
      </div>
    </section>
  </main>
</MySiteLayout>
