---
import MySiteLayout from "../layouts/SiteLayout.astro";
---

<MySiteLayout title="indicators">
  <main>
    <section class="section">
      <div class="container">
        <div class="columns is-multiline is-centered">
          <div class="column is-8">
            <article class="default-article">
              <p>
                Willkommen hinter die Kulissen! Hier ist der Ort, wo wir unsere
                Leistung in Zahlen aufschlüsseln. Von der Anzahl unserer
                leckeren Rezepte bis zur Größe unseres engagierten Teams. Diese
                Metriken zeigen, wie viel Herzblut und Code in unser
                Kochbuch-Projekt geflossen sind. Lasst uns einen Blick darauf
                werfen, wie wir uns als Entwickler und Köche schlagen und wie
                lange wir schon gemeinsam am Herd stehen (oder besser gesagt,
                vor dem Bildschirm sitzen)!
              </p>
              <div class="content mt-5">
                <h3>
                  Unsere Projekt-Fakten: Zahlen, die auf den Tisch kommen!
                </h3>
                <div class="grid is-variable is-5 is-multiline">
                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">8</p>
                      <p class="is-size-7 has-text-grey">Pages</p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary mb-0">15</p>
                      <p class="is-size-7 has-text-grey">
                        Veröffentlichte Rezepte
                      </p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">450</p>
                      <p class="is-size-7 has-text-grey">
                        Besucher pro Monat im Durchschnitt
                      </p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">02:15</p>
                      <p class="is-size-7 has-text-grey">
                        Durchschnittliche Verweildauer
                      </p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">2</p>
                      <p class="is-size-7 has-text-grey">
                        Teammitglieder (Betreiber)
                      </p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">5</p>
                      <p class="is-size-7 has-text-grey">Wochen jung</p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">123</p>
                      <p class="is-size-7 has-text-grey">GitHub Commits</p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">185 ms</p>
                      <p class="is-size-7 has-text-grey">
                        Durchschnittliche Ladezeit
                      </p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">240+</p>
                      <p class="is-size-7 has-text-grey">CSS-Regeln</p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">850+</p>
                      <p class="is-size-7 has-text-grey">
                        HTML-Elemente gesamt
                      </p>
                    </div>
                  </div>

                  <div
                    class="cell is-one-quarter-desktop is-one-third-tablet is-half-mobile"
                  >
                    <div class="has-text-centered indicator-cell">
                      <p class="is-size-4 has-text-primary">22.5 MB</p>
                      <p class="is-size-7 has-text-grey">Gesamt-Dateigröße</p>
                    </div>
                  </div>
                </div>
              </div>
            </article>
          </div>
        </div>
      </div>
    </section>
  </main>
</MySiteLayout>
