---
import MySiteLayout from "../layouts/SiteLayout.astro";
import "../styles/indicators.css";
---

<MySiteLayout title="About">
  <main>
    <div class="container">
      <div class="main-area">
        <article class="default-article">
           <p>
              Willkommen hinter die Kulissen! Hier ist der Ort, wo wir unsere Leistung in Zahlen aufschlüsseln.
              Von der Anzahl unserer leckeren Rezepte bis zur Größe unseres engagierten Teams. Diese Metriken zeigen, wie viel Herzblut und Code in unser Kochbuch-Projekt geflossen sind.
              Lasst uns einen Blick darauf werfen, wie wir uns als Entwickler und Köche schlagen und wie lange wir schon gemeinsam am Herd stehen (oder besser gesagt, vor dem Bildschirm sitzen)!
            </p>
          <section class="default-section">
            <h3>Unsere Projekt-Fakten: Zahlen, die auf den Tisch kommen!</h3>
           
              <div class="grid">
              <div class="cell">8 Pages</div>           
              <div class="cell">15 Veröffentlichte Rezepte</div>
              
              <div class="cell">450 Besucher pro Monat im Durchschnitt</div>
              <div class="cell">Durchschnittliche Verweildaue</div>

              <div class="cell">2 Teammitglieder (Betreiber)</div>
              <div class="cell">5 Wochen jung</div>
              <div class="cell">123 GitHub Commits</div>

              <div class="cell">185 ms Durchschnittliche Ladezeit</div>
              <div class="cell">240+ CSS-Regeln</div>
              <div class="cell">850+ HTML-Elemente gesamt</div>
              <div class="cell">22.5 MB Gesamt-Dateigröße</div>
            
            </div>  

          </section>
        </article>
      </div>
    </div>
  </main>
</MySiteLayout>
