.ingredient {
  flex: 0 0 50%;
  box-sizing: border-box;
}

/* Abstand der gesamten Tabelle */
.ingredient-table {
  width: 100%;
  margin: 20px;
  box-sizing: border-box;
}

/* Kopfzeilen */
.ingredient-table th {
  font-size: 2em;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Normale Zeilen */
.ingredient-table td {
  padding: 4px 0;
  vertical-align: top;
}

/* Spalte "Menge" – entspricht .ingredient-quantity (fix 100px) */
.ingredient-table td:nth-child(1) {
  font-weight: bold;
  width: 100px;
  white-space: nowrap; /* kein Zeilenumbruch */
}

/* Spalte "Zutat" – entspricht .ingredient-name */
.ingredient-table td:nth-child(2) {
  overflow: hidden;
}

.preperation {
  margin: 20px 20px 20px 50px;
  box-sizing: border-box;
  max-width: 50%;
  text-align: left;
}

.preperation h1,
.preperation h2 {
  padding-bottom: 20px;
}

.recipe-main-image {
  flex: 0 0 50%;
  padding: 20px 0; 
}

.recipe-main-image img {
  max-width: 100%;
  border-radius: 16px;
}
