* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-align: center;
  color: #eee;
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #121212;
  /* Make the page a column flex container so we can push the footer to the bottom */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

header {
  background-color: #333333;
  margin: 0px;
  padding: 20px;
}


nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

nav ul li {
  float: left;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #888888;
}

footer ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

footer ul li {
  display: flex;
  float: center;
  justify-content: center;
}

footer ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  /* text-decoration: none; */
}

main {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  /* Let main grow to fill available space so footer is pushed to the bottom */
  flex: 1 0 auto;
}

footer {
  /* ensure footer spans full width and sits at the bottom */
  background-color: #333333;
  width: 100%;
}

.main-area {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

div.card {
  border-radius: 10px;
  /* 5px rounded corners */
  padding: 20px 20px;
  margin: 20px;
  width: auto;

  /* Visible border: include style, width and color */
  border: 1px solid #878787;
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}