---
const { title } = Astro.props;
import favicon from "../assets/favicon.ico";
import "../styles/style.scss";
import Navigation from "../layouts/Navigation.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href={favicon} />
    <title>Kochrezepte für Entwickler</title>
  </head>

  <Navigation />

  <section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
      <div class="container mt-6">
        <p class="title has-text-centered">{title}</p>
        <slot />
      </div>
    </div>
  </section>


</html>
