---
import "../styles/style.css";
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <style>
      @import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
    </style>
    <meta title={title} />
  </head>
  <body>
    <header>
      <h1>Kochrezepte für Web Developer</h1>
    </header>

    <!-- Naviagation Bar -->
    <nav>
      <div class="nav">
        <ul>
          <li><a href="/">Home</a></li>
          <li>
            <a href="#">Rezepte</a>
            <ul>
              <li><a href="/rezepte/rezept-vorlage/">Zürigeschnetzeltes</a></li>
              <li><a href="#">Kartoffelsalat</a></li>
            </ul>
          </li>
          <li><a href="/how-to/">How-To</a></li>
          <li>
            <a href="/about/">Über uns</a>
            <ul>
              <li><a href="/about/#WhatWePractice">Was wir üben</a></li>
              <li><a href="/about/#TermsInProject">Begriffe im Projekt</a></li>
            </ul>
          </li>
          <li><a href="/contact_us/">Kontakt</a></li>
        </ul>
      </div>
    </nav>

    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <footer>
      <ul>
        <li><a href="/">Impressum</a></li>
        <li><a href="/">Datenschutz</a></li>
      </ul>
    </footer>
  </body>
</html>
