---
const { title } = Astro.props;
import "../styles/style.css";
import "../styles/SiteLayout.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kochrezepte für Entwickler</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bulma@1.0.4/css/bulma.min.css"
    />
  </head>
  <body>
    <input type="checkbox" id="navbar-check" class="is-hidden-desktop" style="display:none;">
    <nav
      class="navbar is-fixed-top"
      role="navigation"
      aria-label="main navigation"
    >
      <div class="navbar-brand">
  <a class="navbar-item" href="/">
     </a>

  <label for="navbar-check" role="button" class="navbar-burger">
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
    <span aria-hidden="true"></span>
  </label>
</div>
      </div>

      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
          <a class="navbar-item" href="/"> Home </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Rezepte </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/rezepte/zuerigeschnetzeltes">
                Zürigeschnetzeltes
              </a>
              <a class="navbar-item" href="#"> Kartoffelsalat </a>
            </div>
          </div>
          <a class="navbar-item" href="/how-to/"> How-To </a>
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link" href="/about/"> About </a>
            <div class="navbar-dropdown">
              <a class="navbar-item" href="/about/#WhatWePractice">
                Was wir üben
              </a>
              <a class="navbar-item" href="/about/#TermsInProject">
                Begriffe im Projekt
              </a>
            </div>
          </div>
          <a class="navbar-item" href="/indicators/"> Zahlen </a>
          <a class="navbar-item" href="/contact_us/"> Kontakt </a>
        </div>
      </div>
    </nav>
    <section class="hero is-fullheight-with-navbar">
      <div class="hero-body">
        <slot />
      </div>
    </section>
  </body>
</html>
