---
const { title } = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta title={title} />
  </head>
  <body>
    <header>
      <h1>Kochrezepte für Web Developer</h1>
    </header>

    <!-- Naviagation Bar -->
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/about/">Über uns</a></li>
      </ul>
    </nav>

    <article>
      <slot />
      <!-- your content is injected here -->
    </article>
    <footer>
      <ul>
        <li><a href="/">Impressum</a></li>
        <li><a href="/">Datenschutz</a></li>
      </ul>
    </footer>
  </body>
</html>
